:root {
	--font-family: 'Inter-Variable', sans-serif;
	--second-family: 'PressStart2P-Regular', sans-serif;
	/* Шрифт текста в хедер и на кнопках*/
	--header-name-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
	--header-subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
	--buttom-text-font-size: 14px;
	/* размер шрифта на кнопках */
	--main-title-font-weight: 700;
	/* толщина шрифта заголовков контента*/
	--text-font-weight: 400;
	/* толщина шрифта текста контента*/
	--main-text-line-height: 21px;
	--text-size: 18px;
	/* размер шрифта */
	/* Шрифт контента */
	--img-width: clamp(371px, 700px, 1240px);

	--watermark-shadow-color: #fff;
	--hardlight-color: #000;
	--color-white: #fff;
	--text-color-white: #fff;
	/*белый текст кнопки*/
	--text-color-black: #000;
	/*черный текст кнопки*/
	--bg-buttom: #fff;
	/*фон кнопки*/
	--bg-color: #000;
	/*цвет псевдоэлемента наезжающего на кнопку*/
	--highlight-color: #000;
	/*цвет тени кнопки*/
	--border-buttom-color: #000;
	/*цвет рамки кнопки*/

	--contour-color: #000;
	--animation-fill-color: #FF0000;

	--backround-image: url('../images/background.png');
}